@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  width: max-content;
}

@theme {
  --color-light-blue: #00AFE1;
  --color-gray: #F5F5F5;
  --color-light-black: #222222;


  --text-22: 22px;
  --text-51: 51px;
  --text-26: 26px;
  --text-100: 100px;
  --text-67: 67px;
  --text-103: 103px;

  --leading-100: 100%;
}
